#navbar-container {
  border: solid lightgray 2px;
  height: 500px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.navbar-spacer {
  height: 300px;
}

#sign-out-btn {
  width: 100%;
}

.nav-item:hover {
  color:rgb(28, 91, 226);
  cursor: pointer;
}

.active {
  text-decoration: underline;
}