#navbar-container {
  border: solid lightgray 2px;
  height: 75%;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
}

.navbar-spacer {
  height: 300px;
}

#sign-out-btn {
  width: 50%;
  margin: auto
}